@import "./themes/mocha.css";

* {
    background-color: transparent;
    border-radius: 8px;
    color: @text;
    font-family: JetBrainsMono Nerd Font Mono;
    font-size: 16px;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
}

window#waybar {
    background-color: @crust;
    border-radius: 0px;
}

tooltip {
    background-color: @crust;
    border: 2px solid @green;
}

tooltip label {
    color: @text;
}

.modules-left {
    margin: 8px 0px;
    margin-left: 8px;
}

.modules-center {
    margin: 8px 0px;
}

.modules-right {
    margin: 8px 0px;
    margin-right: 8px;
}

#workspaces {
    background-color: transparent;
}

#workspaces button {
    padding: 0 2px;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button:hover label {
    font-size: 24px;
}

#workspaces button.active label {
    color: @yellow;
    font-size: 24px;
}

#backlight
#battery
#cpu
#disk
#memory
#network
#pulseaudio
#window {
    padding: 0 12px;
}

#backlight {
    background-color: @peach;
    color: @base;
}

#battery {
    background-color: @yellow;
    color: @base;
}

#battery.critical:not(.charging) {
    background-color: @red;
}

#cpu {
    background-color: @lavender;
    color: @base;
}

#disk {
    background-color: @mauve;
    color: @base;
}

#memory {
    background-color: @teal;
    color: @base;
}

#network {
    background-color: @green;
    color: @base;
}

#network.disconnected {
    background-color: @red;
}

#pulseaudio {
    background-color: @blue;
    color: @base;
}

#window {
    background-color: @surface0;
}

#temperature {
    background-color: @red;
    color: @base;
}

#temperature.critical {
    background-color: @red;
}

#custom-launcher {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

#custom-powermenu {
    margin: 4px 5px 4px 1px;
    padding: 0 6px;
    color: @teal;
    border-radius: 10px;
    min-width: 15px;
}

